[submodule "chain"]
	path = chain
	url = https://github.com/aididalam/traceforge-chain.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/aididalam/traceforge-contracts.git
[submodule "indexer"]
	path = indexer
	url = https://github.com/aididalam/traceforge-indexer.git
[submodule "api"]
	path = api
	url = https://github.com/aididalam/traceforge-api.git
